#include <windows.h>
#include "version.h"

101 ICON "PowerModeNative.ico"
201 RCDATA "../assets/power-ui.png"
202 RCDATA "../assets/battery-ui.png"
203 RCDATA "../assets/coffee-ui.png"
1 RT_MANIFEST "PowerModeNative.manifest"

1 VERSIONINFO
 FILEVERSION POWER_SLIDER_VERSION_NUM
 PRODUCTVERSION POWER_SLIDER_VERSION_NUM
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Bozhen Peng\0"
            VALUE "FileDescription", "Windows 11 Power Slider\0"
            VALUE "FileVersion", POWER_SLIDER_VERSION "\0"
            VALUE "InternalName", "PowerModeNative.exe\0"
            VALUE "OriginalFilename", "PowerModeNative.exe\0"
            VALUE "ProductName", "Windows 11 Power Slider\0"
            VALUE "ProductVersion", POWER_SLIDER_VERSION "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
